/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
    font-size: 15px;
}

/*
1. Từ trên xuống dưới
2. Từ ngoài vào trong
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, tròn vuông, blabla)
*/

#main {

}

/* Begin: Header */

#header {
 height: 46px;
 background-color: #000;
 position: fixed;
 top: 0;
 left:0;
 right: 0;
 z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li {
    position: relative;
}

#nav li {
    display: inline-block;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}


#nav li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
        display: block;
}

#nav .subnav {
    display: none; 
    position: absolute;
    min-width: 114px;
    box-shadow: 0px 0px 5px 5px black ;
}

#nav .nav-angle-down {
    font-size: 12px;
}

#nav .subnav li {
    display: inline-block;
    width: 100%;
}

#nav .subnav a {
    display: block;
    color: #000;
    background-color: #fff;
    padding: 0 16px;
    
}

#nav .subnav > li:hover > a {
    background-color: cornflowerblue;
}

#header .search-btn {
    color: #fff;
    font-size: 20px;
    float:right;
    line-height: 46px;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

/* End: Header */

/* Begin:  Slider */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/html-css/web_theBand/assets/img/slider/slider1.jpg') top center / cover no-repeat
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color:#fff;
    
}
#slider .text-heading {
   font-weight: 500;
   font-size:24px;
   margin-bottom: 25px;
}
#slider .text-description {
    font-size: 15px;
}

/* End:  Slider */


#content {

}

#footer {

}

